@page "/"

<div style="margin: 50px; max-width: 460px;">

    @{ 
        var listData = ListViewData.Skip(SkipValue).Take(TakeValue).ToList(); 
    }
    <SfListView DataSource="listData" TValue="DataModel" 
                ShowHeader="true" HeaderTitle="Products">
        <ListViewFieldSettings TValue="DataModel" Id="ID" Text="Name"></ListViewFieldSettings>
    </SfListView>

    <div style="max-width: 460px;">
        <SfPager TotalItemsCount="25" PageSize="5" ItemClick="GetPageCount"
                 @ref="@PagerReference" NumericItemsCount="4"
                 CurrentPage="3" ShowPagerMessage="false">
        </SfPager>
    </div>
</div>

@code {

    SfPager PagerReference;

    public int SkipValue;
    public int TakeValue=5;

    public void GetPageCount(PagerItemClickEventArgs args)
    {
        SkipValue = (args.CurrentPage - 1) * PagerReference.PageSize;


        TakeValue = PagerReference.PageSize;
    }

    public class DataModel
    {
        public int ID { get; set; }
        public string Name { get; set; }
    }

    List<DataModel> ListViewData = new List<DataModel>
    {
        new DataModel { ID = 1,  Name = "Chai" },
        new DataModel { ID = 2, Name = "Chang" },
        new DataModel { ID = 3, Name = "Aniseed Syrup" },
        new DataModel { ID = 4,  Name = "Chef Anton's Cajun Seasoning" },
        new DataModel { ID = 5, Name = "Chef Anton's Gumbo Mix" },
        new DataModel { ID = 6,Name = "Grandma's Boysenberry Spread" },
        new DataModel { ID = 7, Name = "Uncle Bob's Organic Dried Pears" },
        new DataModel { ID = 8, Name = "Northwoods Cranberry Sauce" },
        new DataModel { ID = 9, Name = "Mishi Kobe Niku" },
        new DataModel { ID = 10,Name = "Ikura" },
        new DataModel { ID = 11, Name = "Queso Cabrales" },
        new DataModel { ID = 12, Name = "Queso Manchego La Pastora" },
        new DataModel { ID = 13, Name = "Konbu" },
        new DataModel { ID = 14, Name = "Tofu" },
        new DataModel { ID = 15 ,Name = "Genen Shouyu" },
        new DataModel { ID = 16, Name = "Pavlova" },
        new DataModel { ID = 17, Name = "Alice Mutton" },
        new DataModel { ID = 18, Name = "Carnarvon Tigers" },
        new DataModel { ID = 19, Name = "Teatime Chocolate Biscuits" },
        new DataModel { ID = 20, Name = "Sir Rodney's Marmalade" },
        new DataModel { ID = 21, Name = "Sir Rodney's Scones" },
        new DataModel { ID = 22, Name = "Gustaf's Knäckebröd" },
        new DataModel { ID = 23, Name = "Tunnbröd" },
        new DataModel { ID = 24, Name = "Guaraná Fantástica" },
        new DataModel { ID = 25, Name = "NuNuCa Nuß-Nougat-Creme" }
    };
}
